.single-product{
    width: 200px;
    height: 450px;
    border:2px solid lightcoral;
    border-radius: 15px;
    padding:5px;
    position: relative;
}

.single-product img {

width: 200px;
height:300px;
margin: 0px;
padding: 0px;
border-radius:15px;
box-shadow: 1px 5px 10px 1px rgba(0, 0, 255, .2);}

.p-name,.p-brand,.p-price {
    font-weight:700;
    font-size:18px
}
.product-info p {
    margin:0px;
    padding-right: 5px;
    padding:5px;
    text-align: left;
}

.btn-cart{
    width: 100%;
    background-color: tomato;
    color: white;
    border: none;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    padding: 10px;
    border-radius:0px 0px 12px 12px ;
}